# pixi environments
.pixi/*
!.pixi/config.toml

# Rmd Instruction files
ProblemSet1_template.Rmd

# Sorted Files
sorted-files/

# Files for comparison to Wesam and Pen
output-files/Wesam*
output-files/Pen*
output-files/Dre_Eel_RBH_rv.tsv