# pixi environments
.pixi/*
!.pixi/config.toml

# BLASTP files
Danio_rerio.BLASTp
Homo_sapiens.BLASTp

# Sorted Files
sorted-files/

# Wesam's files for comparison
output-files/Wesam*
output-files/Pen*